In [1]:
import numpy  as np
import pandas as pd

In [2]:
urls = ['http://web.mta.info/developers/data/nyct/turnstile/turnstile_190629.txt']
        #'http://web.mta.info/developers/data/nyct/turnstile/turnstile_190622.txt',
        #'http://web.mta.info/developers/data/nyct/turnstile/turnstile_190615.txt',
        #'http://web.mta.info/developers/data/nyct/turnstile/turnstile_190608.txt']

In [8]:
df = pd.read_csv('turnstile_190629.txt')
#df2 = pd.read_csv(urls[1])
#df3 = pd.read_csv(urls[2])
#df4 = pd.read_csv(urls[3])

In [ ]:
#frames = [df1, df2, df3, df4]
#df = pd.concat(frames)

In [9]:
df.shape

(205963, 11)

In [10]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,00:00:00,REGULAR,7107725,2407457
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,04:00:00,REGULAR,7107738,2407465
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,08:00:00,REGULAR,7107761,2407491
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,12:00:00,REGULAR,7107858,2407541
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,16:00:00,REGULAR,7108075,2407581

In [11]:
df.columns = map(str.lower, df.columns)
df.head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,00:00:00,REGULAR,7107725,2407457
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,04:00:00,REGULAR,7107738,2407465
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,08:00:00,REGULAR,7107761,2407491
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,12:00:00,REGULAR,7107858,2407541
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,16:00:00,REGULAR,7108075,2407581

In [12]:
df.columns

Index(['c/a', 'unit', 'scp', 'station', 'linename', 'division', 'date', 'time',
       'desc', 'entries',
       'exits                                                               '],
      dtype='object')

In [13]:
clean_columns = df.columns.str.strip()
df.columns = clean_columns
df.columns

Index(['c/a', 'unit', 'scp', 'station', 'linename', 'division', 'date', 'time',
       'desc', 'entries', 'exits'],
      dtype='object')

In [14]:
df['pandas_date'] = pd.to_datetime(df.date.astype(str)+' '+df.time.astype(str))

In [57]:
type(df.pandas_date)

pandas.core.series.Series

In [16]:
new_cols = ['station','entries','exits','pandas_date']
df = df[new_cols]

In [21]:
df.isnull().count()

station        205963
entries        205963
exits          205963
pandas_date    205963
dtype: int64

In [26]:
df.to_csv('project1_new_csv.csv',index=False)