In [1]:
import numpy  as np
import pandas as pd

In [25]:
urls = ['http://web.mta.info/developers/data/nyct/turnstile/turnstile_190629.txt',
        'http://web.mta.info/developers/data/nyct/turnstile/turnstile_190622.txt',
        'http://web.mta.info/developers/data/nyct/turnstile/turnstile_190615.txt',
        'http://web.mta.info/developers/data/nyct/turnstile/turnstile_190608.txt']

In [26]:
df1 = pd.read_csv(urls[0])
df2 = pd.read_csv(urls[1])
df3 = pd.read_csv(urls[2])
df4 = pd.read_csv(urls[3])

In [27]:
frames = [df1, df2, df3, df4]
df = pd.concat(frames)

In [28]:
df.shape

(823385, 11)

In [29]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,00:00:00,REGULAR,7107725,2407457
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,04:00:00,REGULAR,7107738,2407465
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,08:00:00,REGULAR,7107761,2407491
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,12:00:00,REGULAR,7107858,2407541
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,16:00:00,REGULAR,7108075,2407581